@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="search-form" class="row-fluid">
   
</div>
<div id="content" class="row-fluid">
    <div id="map_canvas" style="height: 650px">
    </div>
</div>
